* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

p {
  height: 50%;
  width: 100%;
}

.BoxInput {
  border: solid 2px #cfcfcf;
  background: #0DF5FF;
  color: black;
  height: 30px;
  width: 50%;
  font-size: 1em;
  padding: 5px 5px 1px;
  transition: all 0.5s;
}

.BoxInput:focus {
  border: solid 2px #07a6e6;
}

.BoxError {
  display: none;
}

span {
  color: red;
}

#UForm {
  text-align: center;
}